[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
peewee = "~=3.0"
gunicorn = "*"
erna = {file = "https://github.com/fact-project/erna/archive/slurm.tar.gz"}

[dev-packages]

[requires]
python_version = "3.6"
